* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    

}


.hero {
    height: 100vh;
    background: url(pics/wedding_couple.jpg) center/cover no-repeat;
    position: relative;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.text-overlay h1 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 0;
}

.text-overlay p {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 10px 0;


}

.text-overlay span {
    font-size: 20px;
    letter-spacing: 2px;
}

.jane {
    background-color:rgba(255, 192, 203, 0.788);
    padding: 60px 20px;
    opacity: 7;
}

.jane h2 {
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0.397);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.image-box {
    max-width: 800px;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    display: block;
    filter: grayscale(2);

}

.about {
    color: rgba(0, 0, 0, 0.596);
    padding: 60px 20px;
    text-align: center;
    filter: grayscale(1);
    
    
    
}

.about .about-content p {
    padding:0 15% ;
    display: flex;
    font-size: 15px;
    text-align: left;
    

}


.about .about-content button {
    padding: 20px 13px;
    font-size: 17px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 15px;

}

.about .about-content button:hover {
    background-color: gainsboro;
    color: black;
}

.flowers {
    height: 100vh;
    background: url(pics/flowers.jpg) center /cover no-repeat;
    position: relative;
}

.flowers .text  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    color: white;
    text-align: center;

}

.flowers .text h3 {
     font-size: 64px;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 0;

}

.flowers .text p {
     padding-top: 30px;             
    font-size: 26px;
    text-align: center;

}

.wedding {
    background-color: rgba(255, 192, 203, 0.425);
    padding: 60px 20px;
    opacity: 7;
    filter: grayscale(0);
}

.wedding h4 {
     position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0.397);
    font-family: sans-serif;
    font-size: 31px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 40px;

}

.wedding-location {
    max-width: 800px;    
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
    

}

.wedding-location img {
    width: 100%;
    height: 300px;
    filter: grayscale(1);

}

.location {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 80px 15%;
    
}


.location .left h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    

}

.location .left p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
}


.location .right h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.location .right p {
    font-size: 16px ;
    color: rgba(0, 0, 0, 0.534);
    margin-bottom: 12px;
}

.RSVP {
    background-color: rgba(255, 192, 203, 0.678);
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;


}


.RSVP h1 {
        margin-bottom: 21px;
    text-align: center;
    
}

.RSVP p {
    font-size: 16px;
    color: black;
    padding: 25px 0;
}

.RSVP button {
        padding: 20px 50px;
    font-size: 20px;
    border: none;
    background-color: rgb(224, 107, 127);
    color:white;
    margin-top: 15px;

}

.RSVP button:hover {
      background-color: gainsboro;
    color: black;

}

.end footer {
    padding: 20px 0;
    background-color: black;

}
.end footer p {
    text-align: center;
    color: white;
}

.end footer p a {
    color: white;
}

.end footer p a:hover {
    color: green;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 20px 0;
    border: none;
    letter-spacing: 13;
}

nav ul {
    display: flex;
    justify-content: center;
    /* gap: 60px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 100;

}

nav a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 6px;
    padding: 14px 120px;
}

nav a:hover {
    background-color: rgba(220, 220, 220, 0.664);
}

nav:hover {
    background-color: white;
}

nav .different li a:hover {
    background-color: black;
    color: white;
    padding: 19px 30px;
}



   @media screen and (max-width:320px ) {
    .hero {
        height: 250px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 14px;
    }


    .text {
        width: 90%;
    }

    .text-overlay span {
            display: none;
            
    
    }


    .about .about-content p {
            padding:0 5% ;
            letter-spacing: 3px;
            justify-content: space-between;
            font-weight: 700;
            font-family: sans-serif;
            font-style: italic;

    }


    .about .about-content button {
            padding: 14px;
            width: 70%;
    margin-top: 19px;

    }

    

    
   }
   



   




