* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: white;
    padding: 18px 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 0 8px 0 black;
}

nav p a, nav ul li a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    letter-spacing: 3px;
}

nav p a:hover, nav ul li a:hover {
    background-color: gainsboro;
}

nav ul {
    list-style-type: none;
    float: right;
    margin-top: -18px;
}

nav ul li {
    display: inline-block;
}

.banner {
    position: relative;
}

.banner p {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 30px;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.61);
}

.about {
    padding: 80px 130px;
}

.about .left {
    float: left;
    margin-right: 50px;
}

.about .left img {
    width: 550px;
    border-radius: 5px;
}

.about .right h1 {
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 40px;
}

.about .right h5 {
    text-align: center;
    padding: 60px 0 35px;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: 400;
}

.about .right .up {
    font-size: 18px;
    line-height: 1.6;
}

.about .right .up span {
    background-color: gainsboro;
    padding: 2px 6px;
}

.about .right .down {
    padding-top: 35px;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.644);
}

.line {
    height: .1px;
    background-color: rgba(0, 0, 0, 0.068);
    margin: 100px 130px 0px;
}


.menu {
    padding: 80px 130px;
}

.menu .left {
    float: left;
    margin-right: 50px;
} 

.menu .left h1 {
    text-align: center;
    padding: 40px 0;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 40px;
}

.menu .left .up {
    font-size: 20px;
    letter-spacing: 3px;
}

.menu .left .down {
    padding: 30px 0 50px;
    color: rgba(0, 0, 0, 0.562);
}

.menu .right img {
    width: 550px;
    border-radius: 5px;
}

.line1 {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.075);
    margin: 0px 130px 0px;
    border: none;
}

.contact {
    padding: 30px 130px 80px;
}

.contact h1 {
    padding: 40px 0;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 40px;
}

.contact .add {
    color: rgb(110, 97, 122);
    font-weight: 600;
    font-size: 17px;
    padding: 25px 0;
}

.contact form {
    padding-top: 30px;
}

.contact form input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-indent: 5px;
    font-size: 15px;
    border-color: rgba(0, 0, 0, 0.192);
    border-style: solid;
    border-width: 0 0 1px 0;
}

.contact form button {
    padding: 10px 15px;
    border: none;
    margin-top: 15px;
}

.contact form button:hover {
    background-color: gainsboro;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-color: gainsboro;
}

footer p a {
    color: black;
}

footer p a:hover {
    color: green;
}


@media screen and (max-width:768px) {
    
    .about, .menu, .contact {
        padding: 80px 20px;
    }

    .about .left img {
        width: 350px;
    }

    .about .right h1 {
        padding-top: 10px;
    }

    .about .right h5 {
        padding: 40px 0 15px;
    }

    .about .right .down {
        display: none;
    }

    .line {
        margin: 0px 20px 0px;
    }

    .menu .left {
        float: none;
        margin-right: 0px;
    } 

    .menu .left h1 {
        padding: 0px 0;
    }

    .menu .right img {
        width: 100%;
        border-radius: 5px;
    }

    .line1 {
        margin: 0px 20px 0px;
    }

    .contact h1 {
        padding: 0px 0;
    }
}

@media screen and (max-width:426px) {
    nav ul {
        display: none;
    }

    .about .left {
        display: none;
    }

    .about .right .down {
        display: block;
    }
}

